<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Raiffeisen Bank Bulgaria EAD</div>
                                        <div class="h6 mt-0 title">Java Software Developer(Oct. 2017 - Currently)</div>
                                        <p align="justify">Raiffeisenbank (Bulgaria) EAD is a bank 
                                            headquartered in Sofia, Bulgaria. Activate
                                             the bank as of June 30, 2020 amount to BGN 9.37 billion with equity 
                                             of BGN 927 million</p>
                                        <p align="justify">Working as Java developer for Micro Lending agile team</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Struts 1</li>
                                                        <li class="non_list">Struts 2</li>
                                                        <li class="non_list">MS SQL Server</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">JSP</li>
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">SOAP Web Services</li>
                                                        <li class="non_list">CVS</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                    </ul>
                </div>
    </div>
</div>
        