<div class="section" id="projects">
    <div class="container py-2 cc-projects">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-panel">
                        
                        <div class="col-lg-12 row-md-12 h5 mt-0 title">CATS</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="h6 mt-0 title">Coporate Administration Task System</div>
                                <p align="justify"> Tracking the status and execution of all tasks and
                                     problems that arise in the administration of corporate loans.</p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Waterflow</li>
                                                <li class="non_list">Struts 2</li>
                                                <li class="non_list">MS SQL Server</li>
                                                <li class="non_list">Apache Tomcat application server</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">JSP</li>
                                                <li class="non_list">Java 8</li>
                                                <li class="non_list">SOAP Web Services</li>
                                                <li class="non_list">CVS</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="col-lg-12 row-md-12 h5 mt-0 title">EWS</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="h6 mt-0 title">Early Warning Signals</div>
                                <p align="justify"> System for "Early Warning System". Covers a corporate 
                                    portfolio for large and medium-sized enterprises.</p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Waterflow</li>
                                                <li class="non_list">Struts 1</li>
                                                <li class="non_list">MS SQL Server</li>
                                                <li class="non_list">WebSphere Application Server</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">JSP</li>
                                                <li class="non_list">Java 8</li>
                                                <li class="non_list">SOAP Web Services</li>
                                                <li class="non_list">CVS</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="col-lg-12 row-md-12 h5 mt-0 title">SME Register</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="h6 mt-0 title"> Register of loans for small and medium enterprises</div>
                                <p align="justify">Centralized approval of micro-SME deals and determines the individual stages and sequence in the work of responsible employees.</p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Agile</li>
                                                <li class="non_list">Struts 1</li>
                                                <li class="non_list">MS SQL Server</li>
                                                <li class="non_list">Apache Tomcat application server</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">JSP</li>
                                                <li class="non_list">Java</li>
                                                <li class="non_list">SOAP Web Services</li>
                                                <li class="non_list">GIT</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="col-lg-12 row-md-12 h5 mt-0 title">Varna Travel Guide - personal project </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="h6 mt-0 title"> Touristic guide for Varna region</div>
                                <p align="justify">The application shows different places in four 
                                    categories (restaurants, shopping centers, hotels, landmarks) in the region.</p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Mongo DB</li>
                                                <li class="non_list">Spring REST API</li>
                                                <li class="non_list">Angular 9</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Java 11</li>
                                                <li class="non_list">GIT</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>